*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.but{
   
    margin: 100px;
    border: 2px solid white;
    width:100px;
    
}